<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="SLBCS.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <connectionStrings>
        <add name="SLBCS.Properties.Settings.ImigrationConnectionString" connectionString="Data Source=DESKTOP-RAE7EDM;Initial Catalog=Imigration;User ID=sa;Password=123" providerName="System.Data.SqlClient"/>
    </connectionStrings>
	<appSettings>
		 <add key="conf" value="Data Source=DESKTOP-RAE7EDM;Initial Catalog=Imigration;User ID=sa;Password=123"/>
		<add key="x" value=""/>
	</appSettings>
	<startup useLegacyV2RuntimeActivationPolicy="true">
		<supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2"/>
	</startup>
    <userSettings>
        <SLBCS.Properties.Settings>
            <setting name="xx" serializeAs="String">
                <value/>
            </setting>
            <setting name="uname" serializeAs="String">
                <value/>
            </setting>
            <setting name="loc" serializeAs="String">
                <value/>
            </setting>
            <setting name="id" serializeAs="String">
                <value/>
            </setting>
        </SLBCS.Properties.Settings>
    </userSettings>
</configuration>
